@import 'normalize.css';

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  padding: 24px;
  background: blue;
  color: white;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 300;
}

.print-out {
  background-color: white;
  padding: 4px 8px;
  font-size: 12px;
  font: menu;
  color: black;
  border-radius: 2px;
}
